[alias]
	st = status
        list-testing = !git tags | grep testing
        list-stable= !git tags | grep stable
        tags = !git for-each-ref refs/tags/* --format='%(refname)' --sort='authordate' | sed 's/refs\\/tags\\///g'

[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = matching

[user]
	name = David Paniz
	email = davidpaniz@gmail.com
